
 #aboutImg img {
  width: 100%;
  margin-top: 10px;
  background: #fff;
  border-right: 0;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.06);
}
 p {
  line-height: 24px;
  margin: 30px 0;
}

.editDiv button, .linksDiv button{
  width: 80px;
  height: 40px;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 8px;
  background-color: #00aeef;
  color: white;
}


@media (max-width: 768px) {
  #aboutImg img {
    margin: 50px 0;
  }
}