.navbar{
    background-color: #12b8e1 !important;
    color: white !important;
}

.nav-link{
    color: white !important;
}

.navbar-brand{
    color: white !important;
}


.navbar-nav .nav-item .nav-link{
    color: white !important;
}

.navbar-toggler{
    color: white !important;  
}
