.fluid-container .row{
  min-height: 100vh !important;
}

.black-div {
  background-color: black;
  opacity: 0.7;
}

.left-div {
  height: 100% !important;
  background-image: url("../../public/images/photo_1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.right-div {
  height: 100% !important;
  background-image: url("../../public/images/photo_2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.img{
  z-index: 1000;
  position: fixed;
  width: 200px;
}

@media screen and (max-width: 576px) {
  .img{
    position: relative;
  }
}


